@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

/* Fonts used: "Manrope", sans-serif

Body bg color: #202733
Main container bg color: #313a48
Advice number color: hsl(150,100%,66%)
Quotes color: hsl(193,38%,86%)
Dice image bg color: hsl(150,100%,66%) */

/* Write your code here: */
*{
    background-color: #202733;
    font-family: "Manrope", sans-serif;
}



.advice{
    background-color: #313a48;
    color: hsl(193,38%,86%);
    font-size: x-large;
    
}

.box{
    background-color: #313a48;
    width: 540px;
    height: 340px;
    border: 1;
    text-align: center;
    font-family: "Manrope, sans-serif";
    border-radius: 15px;
    margin-top: 200px;
    margin-left: 460px;

}

.s117{
    color: hsl(150,100%,66%);
    font-style: "Manrope, sans-serif";
    padding-top: 25px;
    font-size: large;
    background-color: #313a48;
}

.svg{
    margin-top: 20px;
    background-color: #313a48;
}

.die{
    height: 60px;
    width: 60px;
    background-color: hsl(150,100%,66%);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    
}

.die1{
    margin-top: 13px;
    display: flex;
    margin-left: 13px;

    margin-top: 18px;
    background-color: hsl(150,100%,66%) ;
    align-items: center;
}