form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333333; /* Added to make text visible */
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #555555;
    background-color: white; /* Added to make text visible */
  }
  
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder {
    color: #555555;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  body {
    background-color: black;
    color: white;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  .container {
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    border: 2px solid #5d4835;
    color: white; 
  }
  
  tr:nth-child(odd):not(:hover) {
    background-color:#F6F1E9;
  }

  th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f0dab5;
    color: #5d4835;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  tr:nth-child(even) {
    background-color: #f9e7cc;
  }
  
  tr:hover {
    background-color: #ffcc80;
    cursor: pointer;
  }
  
  td img {
    max-height: 200px;
    display: block;
    margin: 0 auto;
    border: 5px solid #f6eadc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
  }
  
  td img:hover {
    transform: scale(1.1);
  }
  
  td b {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #5d4835;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
  
  caption {
    padding: 10px;
    font-size: 24px;
    color: #5d4835;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #f0dab5;
    border: 2px solid #5d4835;
    border-bottom: none;
  }
  
  tfoot {
    background-color: #f0dab5;
  }
  
  tfoot td {
    font-size: 14px;
    color: #5d4835;
  }
  @media screen and (max-width: 768px) {
    table {
      border: none;
    }
  
    th, td {
      padding: 8px;
    }
  
    td img {
      max-height: 150px;
      border: 3px solid #f6eadc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
  
    caption {
      font-size: 20px;
      padding: 5px;
    }
  }
  
