body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

/* Colors Used:   

Header background colour - #333
Header color - #fff
Roadmap card background colour - #f1f1f1
Resources background colour - #eee
Resources Link colour - #333
Resources Link hover colour - #007bff
Footer background colour - #333
Footer colour - #fff */


/* Write your code here: */

