body{
    background:black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    header{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/header-image.png); 
    background-size: cover;
    background-position: center;
    position: relative; 
    margin: 0;
    }
    
    nav{
        font-size: 16px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin: 0;
        background-color: black;
        --color1: tomato;
        --color2: rgb(38, 45, 52);
        animation: mymove 5s infinite;  /*DAY 20*/
    }
    
    .logo{
        cursor: pointer;
        width:170px;
    }
    
    nav button{
        cursor: pointer;
        background: red;
        color: white; 
        padding: 7px 17px; 
        font-size: 15px;
        border-radius: 5px;
        margin-left: 10px;
    }
    
    .language{
        align-items: center;
        padding: 10px 20px;
        background: transparent;
        border: 1px solid white;
    }
    .custom-style{ 
        margin-left: 10px;
    }
    .content{
      position: relative;
      top:40%; 
      left:50%;
      transform: translate(-50%,-50%); 
      text-align: center;
      margin-top:90px;
    }
    
    .content h1{
        font-size: 50px;
        font-weight: 600;
        margin:0px;
    }
    
    .content h3{
        font-size: 25px;
        margin-bottom: 30px; 
    }
    
    .content p{
        font-size: 20px;
    }
    
    .emailnsubmit .Email{  
        background: rgba(22, 22, 22,0.7);
        border-radius: 5px;
        flex:1;
        display: inline-flex;
        align-items: center;
        margin-top: 5px;
        width:40%;
        padding: 20px;
        border: 2px solid grey;
        overflow: hidden; 
        cursor: pointer;
        color: azure;
    }
    
    .getstarted{
      background: red;
      color:white; 
      transition: background-color 1s ease-in,transform 0.5s ease-in-out; 
      /*animation: scaling-animation 2s infinite alternate; */
      cursor: pointer;
      border: 0;
      outline:0;
      display: inline-flex;
      font-size: 22px;
      font-weight: bold;
      padding: 18px 30px;
      padding-top: 14px;
      border-radius: 5px;
      
      }
      
      .getstarted:hover {   /*DAY 20*/
          background-color: brown;
          color:  black;
          transform:scale(1.1);
        }

      footer{
        background-color: black;
        color: aliceblue;
        --color1: skyblue;
        --color2: rgb(59, 49, 49); /*DAY 20*/
        animation: mymove 5s infinite;
        text-align: center;
        padding: 10px;
      }
      @keyframes mymove {  /*DAY 20*/
        from {
          background-color: var(--color1);
        }
        to {
          background-color: var(--color2);
        }
      }
      